<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>קצת עלינו...</h1>
		<p class="text-justify lead">
		Hermeny הרמני זוהי חנות אנטרנט שמשווקת כלים חד פעמיים איכותיים וציוד נלווה למסיבות ולאירוע המושלם. הרמני משלבת את הכלים והמוצרים היפים והאיכותיים ביותר עם המחירים המשתלמים ביותר.
		</p>
		<p class="text-justify"> 
		השימוש בכלים חד פעמיים הפך בשנים האחרונות לפופולרי יותר ויותר. אין זה פלא כאשר ישנם כלים איכותיים, יקרתיים ויפים לא פחות מאשר כלים רגילים.<br>
		בעזרת הרמני האירוח הופך להיות משימה הרבה יותר פשוטה שקל להתארגן לפניה ואחריה במהירות.
		</p>
		<p class="text-justify">
		הנוחות שקיימת ברכישה דרך האתר, בתשלום המאובטח ובמשלוח עד בית הלקוח מקלים וחסכים זמן יקר.
		אנו בהרמני קונים את כלי החד פעמי והמוצרים הנלווים אליהם מהספקים האיכותיים ביותר שקיימים בשוק ועל ידי כך איננו מתפשרים על איכות. 
		</p>
		<p class="text-justify">
		תוכלו למצוא באתר כלים לימי הולדת לילדים ולמבוגרים, מוצרים לחגים, בריתות, מסיבות רווקות ואפילו לסתם ארוחת ערב קלילה.
		גם בעניין התשלום- אתם יכולים להיות רגועים, התשלום באתר מאובטח בטכנולוגיית SSL באמצעות אתר PayPal ונחשב לרמה הגבוהה ביותר של אבטחת מידע באינטרנט.
		כל שנותר לכם לעשות, זה להתחיל לשוטט באתר, להזמין מוצרים ופשוט להינות!
		</p>
	</div>
</div>