<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="catalog-carousel">
                <carousel interval="5000">
                    <slide>
                        <img class="img img-responsive" src="http://googledrive.com/host/0B5LolexEjEygWG9NaEt6dDJxRkE/slide1.jpg">
                    </slide>
                    <slide>
                        <img class="img img-responsive" src="http://googledrive.com/host/0B5LolexEjEygWG9NaEt6dDJxRkE/slide2.jpg">
                    </slide>
                    <slide>
                        <img class="img img-responsive" src="http://googledrive.com/host/0B5LolexEjEygWG9NaEt6dDJxRkE/slide3.jpg">
                    </slide>
                    <slide>
                        <img class="img img-responsive" src="http://googledrive.com/host/0B5LolexEjEygWG9NaEt6dDJxRkE/slide4.jpg">
                    </slide>
                    <slide>
                        <img class="img img-responsive" src="http://googledrive.com/host/0B5LolexEjEygWG9NaEt6dDJxRkE/slide5.jpg">
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="row top-buffer">
            <div ng-repeat="groupTag in groupTags" class="catalog-tag group-tag">
                <div class="col-md-4">
                    <div product-tag tag="groupTag"></div>
                </div>
            </div>
        </div>
    </div>
</div>

