<img class="img delivery-img" src="http://googledrive.com/host/0B5LolexEjEygNTllR3MxU3BHSEk/shipmentCart.png">
<div dir="rtl"><h2>מדיניות משלוחים</h2>
<p></p>
<p>בקנייה מעל 150 ש"ח-משלוח עד הבית חינם.</p>
<p>עלות משלוח בקנייה מתחת ל150 ש"ח- 25 ש"ח.</p>
<p>אנו מתחייבים שהחבילות תגענה ליעדן תוך חמישה&nbsp;ימי עסקים, אך בפועל החבילות מגיעות תוך 2-3 ימים.</p>
<p>המשלוחים מתבצעים באמצעות חברת שליחויות חיצונית עד לבית הלקוח במרבית היישובים בכל רחבי&nbsp;הארץ.</p>
<p>ישנם מעט יישובים שבהם המסירה תתבצע בהתאם לנוהל חלוקת הדואר ביישוב.</p>
<p>היישובים המופיעים למטה <b>כן</b> נכללים במסירה ישירות לבית הלקוח:</p>
<p>&nbsp;</p>
<p><span style="font-weight:400">להלן רשימת הישובים, לפי סדר א'-ב', <b>בהם מבוצעת מסירה אישית עד הדלת.</b></span></p>
<table>
<tbody>
<tr>
<td>
<p><span style="font-weight:400">אביגדור</span></p>
</td>
<td>
<p><span style="font-weight:400">גת רימון</span></p>
</td>
<td>
<p><span style="font-weight:400">מבשרת ציון</span></p>
</td>
<td>
<p><span style="font-weight:400">צריפין</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אביחיל</span></p>
</td>
<td>
<p><span style="font-weight:400">דימונה</span></p>
</td>
<td>
<p><span style="font-weight:400">מגדל העמק</span></p>
</td>
<td>
<p><span style="font-weight:400">קדימה-צורן</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אבן יהודה</span></p>
</td>
<td>
<p><span style="font-weight:400">הוד השרון</span></p>
</td>
<td>
<p><span style="font-weight:400">מגשימים</span></p>
</td>
<td>
<p><span style="font-weight:400">קיסריה</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אודים</span></p>
</td>
<td>
<p><span style="font-weight:400">הרצליה</span></p>
</td>
<td>
<p><span style="font-weight:400">מודיעין-מכבים-רעות</span></p>
</td>
<td>
<p><span style="font-weight:400">קצרין</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אום אל פחם</span></p>
</td>
<td>
<p><span style="font-weight:400">זיתן</span></p>
</td>
<td>
<p><span style="font-weight:400">מזכרת בתיה</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית אונו</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אופקים</span></p>
</td>
<td>
<p><span style="font-weight:400">זכרון יעקב</span></p>
</td>
<td>
<p><span style="font-weight:400">מישור אדומים</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית אתא</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אור יהודה</span></p>
</td>
<td>
<p><span style="font-weight:400">חבצלת השרון</span></p>
</td>
<td>
<p><span style="font-weight:400">מכבים</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית ביאליק</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אור עקיבא</span></p>
</td>
<td>
<p><span style="font-weight:400">חגור</span></p>
</td>
<td>
<p><span style="font-weight:400">מכמורת</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית גת</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אזור</span></p>
</td>
<td>
<p><span style="font-weight:400">חדרה</span></p>
</td>
<td>
<p><span style="font-weight:400">מעלה אדומים</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית חיים</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אחיעזר</span></p>
</td>
<td>
<p><span style="font-weight:400">חולון</span></p>
</td>
<td>
<p><span style="font-weight:400">מעלות</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית טבעון</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אייל</span></p>
</td>
<td>
<p><span style="font-weight:400">חופית</span></p>
</td>
<td>
<p><span style="font-weight:400">משמר השבעה</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית ים</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אילת</span></p>
</td>
<td>
<p><span style="font-weight:400">חיפה</span></p>
</td>
<td>
<p><span style="font-weight:400">משמרת</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית מוצקין</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אלישמע</span></p>
</td>
<td>
<p><span style="font-weight:400">חמד</span></p>
</td>
<td>
<p><span style="font-weight:400">מתן</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית מלאכי</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אשדוד</span></p>
</td>
<td>
<p><span style="font-weight:400">חצור הגלילית</span></p>
</td>
<td>
<p><span style="font-weight:400">נהריה</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית עקרון</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">אשקלון</span></p>
</td>
<td>
<p><span style="font-weight:400">חרוצים</span></p>
</td>
<td>
<p><span style="font-weight:400">נוה מונסון (אפרים)</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית שמואל</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">באר יעקב</span></p>
</td>
<td>
<p><span style="font-weight:400">חרות</span></p>
</td>
<td>
<p><span style="font-weight:400">נווה ימין</span></p>
</td>
<td>
<p><span style="font-weight:400">קרית שמונה</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">באר שבע</span></p>
</td>
<td>
<p><span style="font-weight:400">טבריה</span></p>
</td>
<td>
<p><span style="font-weight:400">נווה ירק</span></p>
</td>
<td>
<p><span style="font-weight:400">ראש העין</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בארות יצחק</span></p>
</td>
<td>
<p><span style="font-weight:400">טירת כרמל</span></p>
</td>
<td>
<p><span style="font-weight:400">נחלים</span></p>
</td>
<td>
<p><span style="font-weight:400">ראש פינה</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בית דגן</span></p>
</td>
<td>
<p><span style="font-weight:400">יבנה</span></p>
</td>
<td>
<p><span style="font-weight:400">ניר אליהו</span></p>
</td>
<td>
<p><span style="font-weight:400">ראשון לציון</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בית חירות</span></p>
</td>
<td>
<p><span style="font-weight:400">יגל</span></p>
</td>
<td>
<p><span style="font-weight:400">ניר צבי</span></p>
</td>
<td>
<p><span style="font-weight:400">רהט</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בית יהושע</span></p>
</td>
<td>
<p><span style="font-weight:400">יהוד</span></p>
</td>
<td>
<p><span style="font-weight:400">נס ציונה</span></p>
</td>
<td>
<p><span style="font-weight:400">רחובות</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בית שאן</span></p>
</td>
<td>
<p><span style="font-weight:400">יקנעם עילית</span></p>
</td>
<td>
<p><span style="font-weight:400">נצר סרני</span></p>
</td>
<td>
<p><span style="font-weight:400">רמות השבים</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בית שמש</span></p>
</td>
<td>
<p><span style="font-weight:400">ירוחם</span></p>
</td>
<td>
<p><span style="font-weight:400">נצרת</span></p>
</td>
<td>
<p><span style="font-weight:400">רמלה</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">ביתן אהרן</span></p>
</td>
<td>
<p><span style="font-weight:400">ירושלים</span></p>
</td>
<td>
<p><span style="font-weight:400">נצרת עילית</span></p>
</td>
<td>
<p><span style="font-weight:400">רמת אפעל</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בני ברק</span></p>
</td>
<td>
<p><span style="font-weight:400">ירקונה</span></p>
</td>
<td>
<p><span style="font-weight:400">נשר</span></p>
</td>
<td>
<p><span style="font-weight:400">רמת גן</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בני עטרות</span></p>
</td>
<td>
<p><span style="font-weight:400">כוכב יאיר</span></p>
</td>
<td>
<p><span style="font-weight:400">נתיבות</span></p>
</td>
<td>
<p><span style="font-weight:400">רמת הכובש</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בני ציון</span></p>
</td>
<td>
<p><span style="font-weight:400">כנות</span></p>
</td>
<td>
<p><span style="font-weight:400">נתניה</span></p>
</td>
<td>
<p><span style="font-weight:400">רמת השרון</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בנימינה-גבעת עדה</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר אז"ר</span></p>
</td>
<td>
<p><span style="font-weight:400">סביון</span></p>
</td>
<td>
<p><span style="font-weight:400">רמת פנקס</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בצרה</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר ביאליק</span></p>
</td>
<td>
<p><span style="font-weight:400">עדנים</span></p>
</td>
<td>
<p><span style="font-weight:400">רעות</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בת חן</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר הס</span></p>
</td>
<td>
<p><span style="font-weight:400">עומר</span></p>
</td>
<td>
<p><span style="font-weight:400">רעננה</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">בת ים</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר ויתקין</span></p>
</td>
<td>
<p><span style="font-weight:400">עין ורד</span></p>
</td>
<td>
<p><span style="font-weight:400">רשפון</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גבעת זאב</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר חב"ד</span></p>
</td>
<td>
<p><span style="font-weight:400">עין שריד</span></p>
</td>
<td>
<p><span style="font-weight:400">שדה ורבורג</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גבעת ח"ן</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר יונה</span></p>
</td>
<td>
<p><span style="font-weight:400">עכו</span></p>
</td>
<td>
<p><span style="font-weight:400">שדרות</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גבעת שמואל</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר מל"ל</span></p>
</td>
<td>
<p><span style="font-weight:400">עמק חפר</span></p>
</td>
<td>
<p><span style="font-weight:400">שוהם</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גבעת שפירא</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר מעש</span></p>
</td>
<td>
<p><span style="font-weight:400">עפולה</span></p>
</td>
<td>
<p><span style="font-weight:400">שפיים</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גבעתיים</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר נטר</span></p>
</td>
<td>
<p><span style="font-weight:400">ערד</span></p>
</td>
<td>
<p><span style="font-weight:400">תל אביב-יפו</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גדרה</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר סבא</span></p>
</td>
<td>
<p><span style="font-weight:400">פרדס חנה-כרכור</span></p>
</td>
<td>
<p><span style="font-weight:400">תל השומר</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גליל ים</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר סירקין</span></p>
</td>
<td>
<p><span style="font-weight:400">פרדסיה</span></p>
</td>
<td>
<p><span style="font-weight:400">תל מונד</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גן חיים</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר פינס</span></p>
</td>
<td>
<p><span style="font-weight:400">פתח תקווה</span></p>
</td>
<td>
<p><span style="font-weight:400">תלמי מנשה</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גן יבנה</span></p>
</td>
<td>
<p><span style="font-weight:400">כפר שמריהו</span></p>
</td>
<td>
<p><span style="font-weight:400">צופית</span></p>
</td>
<td>
<p><span style="font-weight:400">&nbsp;</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גנות</span></p>
</td>
<td>
<p><span style="font-weight:400">כרמיאל</span></p>
</td>
<td>
<p><span style="font-weight:400">צור יגאל</span></p>
</td>
<td>
<p><span style="font-weight:400">&nbsp;</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גני עם</span></p>
</td>
<td>
<p><span style="font-weight:400">לוד</span></p>
</td>
<td>
<p><span style="font-weight:400">צפריה</span></p>
</td>
<td>
<p><span style="font-weight:400">&nbsp;</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight:400">גני תקווה</span></p>
</td>
<td>
<p><span style="font-weight:400">לוד נמל תעופה</span></p>
</td>
<td>
<p><span style="font-weight:400">צפת</span></p>
</td>
<td>
<p><span style="font-weight:400">&nbsp;</span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p></div>