<div class="main-page-carousel">
    <carousel interval="5000">
        <slide>
            <img class="img img-responsive" src="http://googledrive.com/host/0B5LolexEjEygNTllR3MxU3BHSEk/slide1.jpg">
        </slide>
        <slide>
            <img class="img img-responsive" src="http://googledrive.com/host/0B5LolexEjEygNTllR3MxU3BHSEk/slide2.jpg">
        </slide>
        <slide>
            <img class="img img-responsive" src="http://googledrive.com/host/0B5LolexEjEygNTllR3MxU3BHSEk/slide3.jpg">
        </slide>
        <slide>
            <img class="img img-responsive" src="http://googledrive.com/host/0B5LolexEjEygNTllR3MxU3BHSEk/slide4.jpg">
        </slide>
        <slide>
            <img class="img img-responsive" src="http://googledrive.com/host/0B5LolexEjEygNTllR3MxU3BHSEk/slide5.jpg">
        </slide>
    </carousel>
    <div class="go-to-catalog" ui-sref="catalog">
        <button class="btn btn-primary">מעבר לקטלוג</button>
    </div>
</div>


